{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@effector/babel-plugin",
    "@effector/babel-plugin-react"
  ]
}
