{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "off",
    "no-console": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "process": true
  }
}
