.noteText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.deleteContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 12px;
}

.notesList {
  height: 100%;
}

.appContainer {
  display: flex;
  height: 100%;
}

.noteContainer {
  flex: 1;
}
